.footer__box {
    width: 100%;
    background: none;
    position: absolute;
}

.footer__box--en {
    bottom: 0;
}

.footer__box--he {
    bottom: 0;
}

.footer__text {
    padding: 0;
    margin: 0;
    color: $gray;
    font-size: 1.15rem;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.footer__link {
    color: $white;
}

.footer__link:hover {
    color: $white;
    text-decoration: none;
}


@media (max-width: $mobileMaxWidth) {

    .footer__box {
        height: 2.4rem;
        background: $black;
        position: fixed;
        bottom: 0;
        z-index: 5007;
    }
    
    .footer__box--en {
        padding-left: 0rem;
    }
    
    .footer__box--he {
        padding-right: 0rem;
    }

    .footer__text {
        font-size: 1.2rem;
        padding-top: 0.5rem;
        line-height: 1.2rem;
    }

}