

@import './base/settings';
@import './base/tokens';
@import './base/base';

@import './components/GlobalUI';
@import './components/TeachingPage';
@import './components/Backoffice';
@import './components/Footer';
@import './components/HomePage';
@import './components/Navigation';
@import './components/PageUpStrip';
@import './components/WorkshopPage';

@import './base/fixers';

@font-face {
  font-family: almoni-tzar-aaa-regular;
  src: url(/assets/fonts/almoni-tzar-aaa-regular.otf) format('truetype');
}

@media (min-width: 600px) {
  .css-1ygil4i-MuiToolbar-root {
    padding-left: 0;
    padding-right: 0;
  }
}
